
{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} SmartCalo {% endblock %}</title>
      <link rel='icon' type='image/x-icon' href= {% static "images/SMART_Calo.ico" %}>

      <!-- Icons -->
      <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel='stylesheet'>
       <!-- Fonts -->
      <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap' rel='stylesheet'>
      <!--Bootstrap CSS-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      
      <!-- Custom styles -->
      <link href='{% static 'css/styles.css' %}' rel='stylesheet'>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>

    <body class="d-flex flex-column min-vh-100">
      
      <nav class="navbar navbar-light" style="background-color: #53DD6C">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">SmartCalo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                
                {% if request.user.is_authenticated %}
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"> Hello {{request.user.username}}! </h5>
                  <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="food/list">Food List</a>
                    </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item" href="/profile/weight">Weight Log</a></li>
                 <li><a class="dropdown-item" href="/food/foodlog">Food Log</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class='nav-item dropdown'>
                  <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
                      <i class='fas fa-pizza-slice'></i> Food Categories
                  </a>
                  <div class='dropdown-menu dropdown-menu-light'>
                      {% for category in categories %}
                      <a class='dropdown-item' href="{% url 'category_details_view' category.category_name %}">
                          {{ category }} &nbsp;
                          <span class='badge bg-success'>
                              {{ category.count_food_by_category }}
                          </span>
                      </a>
                      {% endfor %}
  
                {% else %}
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"> SmartCalo </h5>
                  <button type="button" class="btn-close btn-close-dark float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href='/signup'>SignUp</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href='/logout'>Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href='/login'>Login</a>
                </li>
                {% endif %}
              </ul>
             
            </div>
          </div>
        </div>
      </nav>
    
      <main>
      <div class='container'>
        {% block content %}
        {% endblock %} 
      </div>
    </main>
  
      <footer class="mt-auto">
      <footer class="text-center text-white" >
        <!-- Grid container -->
        <div class="content">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com/dixit_giri/"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: SmartCalo
          
        </div>
        <!-- Copyright -->
      </footer>
    </footer>  
   

    <!-- Optional Javascript -->  
    {% block script %}
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
    
    {% endblock script%}
    

</html>