{% extends 'base.html' %}

{% block title %}Food Tracker | Delete{% endblock %}


{% block content %}

<style>

    #intro-upper {
        opacity: 0.9;  
        height: 300px; 
      }

    body {
        background-image: url('/static/images/katie-smith-uQs1802D0CQ-unsplash.jpg');
        background-size: cover;
      }
    
   .card {
    opacity: 0.9;
   }
</style>

<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>
        <br>
        <h2 class="text-primary">Food Log</h2>

            <div class='row justify-content-center'>
                <div class='col-xl-12'>
                    <div class='card bg-secondary mb-3'>
                        <div class='card-body'>
    
                            <div class='form-group'>
                                <form method='POST'>
                                    {% csrf_token %}

                                    Are you sure you want to delete this food item?
                                    <button type='submit' class='btn btn-danger'>Delete</button>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
{% endblock content %}